.app {
  text-align: center;
}

.app__logo {
  animation: app__logo--spin infinite 20s linear;
  height: 80px;
}

.app__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app__title {
  font-size: 1.5em;
}

.app__intro {
  font-size: large;
}

@keyframes app__logo--spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-list {
  max-width: 50%;
  padding: 10px 50px;
  border: 1px solid red;
  border-radius: 4px;
  background-color: rgba(221,206,206,0.29);
  text-align: justify;
}
.post-list__elem {}